<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  <div id="wrap">
    {{>menu}}
    
    <div id="container" class="container">
      {{>error}}
      
      <h1>team.densan.info - Control Panel</h1>
      <p>Manage Role</p>
      <p>Your Role: "{{profile.role.name}}"</p>
      <hr>
      <div class="tabbable tabs-left">
        <ul id="tabs" class="nav nav-tabs">
          <li class="active"><a href="#desc" data-toggle="tab">Role Name</a></li>
          <!-- ko foreach: roles -->
          <li>
            <a data-toggle="tab" data-bind="text: name, attr: {href: url}, event: {dblclick: edit}"></a>
            <button type="button" class="close" data-bind="if: nop_over_zero, click: remove">&times;</button>
          </li>
          <!-- /ko -->
        </ul>
        <div class="tab-content">
          <section id="desc" class="tab-pane active">
            <p>Note: 左のタブが Role 名、右側 (この部分) の内容が Permission 一覧になります。</p>
            <p>タブをダブルクリックすると Role 名を変更できます。</p>
          </section>
          <!-- ko foreach: roles -->
          <section class="tab-pane" data-bind="attr: {id: name}">
            <p>Permissions:</p>
            <input class="tagsinput" data-bind="value: permissions_str">
            <p>所属人数: <span data-bind="text: nop"></span>人</p>
          </section>
          <!-- /ko -->
        </div>
      </div>
      <div>
        <button class="btn btn-inverse" data-bind="click: add">Add Role</button>
        <button class="btn btn-info" data-bind="click: save">Save</button>
        <span id="saved" class="saved">保存しました。</span>
      </div>
    </div>
  </div>
  
  {{>footer}}
  <script type="text/javascript" src="/js/libs/knockout.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.tagsinput.js"></script>
  <script type="text/javascript" src="/js/ajax.js"></script>
  <script type="text/javascript">
  $(function () {
    // initial data
    var init = {
      roles: {{{roles}}}
    };

    // apply view model
    ko.applyBindings(new RoleViewModel(init), $("#container").get(0));
  });

  function RoleModel(role) {
    var that = this;
    this._id = role._id;
    this.name = ko.observable(role.name);
    this.url = ko.computed(function () {
      return "#" + that.name();
    });
    this.permissions = ko.observableArray(role.permissions);
    this.permissions_str = ko.computed({
      read: function () {
        return that.permissions().join(",");
      },
      write: function (value) {
        this.permissions(value.split(","));
      },
      owner: this
    });
    this.nop = role.nop || 0;
    this.nop_over_zero = ko.computed(function () {
      console.log(! that.nop);
      return ! that.nop;
    });
  }
  RoleModel.prototype.remove = function () {
    this.parent.roles.remove(this);
    $("#tabs > li > a:first").click();
  };
  RoleModel.prototype.edit = function (model, event) {
    var $a = $(event.currentTarget);
    // check already replaced
    if ($a.find("input").length) {
      return false;
    }
    // create input element and replace
    var $input = $(document.createElement("input"));
    $input.val($a.text())
    .css({
      width: $a.width(),
      height: $a.height() - 6,
      boxsizing: "border-box"
    }).blur(function () {
      $a.text($(this).val());
      model.name($(this).val());
    });
    $a.html($input);
    $input.focus();
  };
  function RoleViewModel(opts) {
    var that = this;
    this.roles = ko.observableArray();
    this.update(opts.roles);
    // set parent
    RoleModel.prototype.parent = this;
  }
  RoleViewModel.prototype.add = function () {
    this.roles.push(new RoleModel({
      name: "role-" + this.count++,
      permissions: ["login"]
    }));
    // init tag UI
    $(".tagsinput:last").tagsInput();
  };
  RoleViewModel.prototype.update = function (roles) {
    this.roles(roles.map(function (role) {
      return new RoleModel(role);
    }));

    var indexes = this.roles().map(function (role) {
      var name = role.name();
      if (name.slice(0, 5) === "role-") {
        return parseInt(name.slice(5), 10);
      } else {
        return NaN;
      }
    }).filter(function (e) {
      return e;
    });
    this.count = (indexes.length && Math.max.apply(Math, indexes)) + 1;

    $("#tabs > li > a:first").click();
    setTimeout(function () {
      // tag UI
      $(".tagsinput").tagsInput();
    }, 0);
  };
  RoleViewModel.prototype.save = function () {
    var $saved = $("#saved");

    $(".tagsinput").change();
    var roles = ko.toJS(this.roles).map(function (role) {
      return {
        _id: role._id,
        name: role.name,
        permissions: role.permissions
      }
    });

    var data = {
      _csrf: "{{csrf_token}}",
      roles: roles
    };

    var instance = this;

    $.densan.ajax({
      data: data,
      done: function (res) {
        instance.update(res.roles);
        $saved.show()
              .delay(500)
              .fadeOut(500);
      },
      fail: function (errors) {
        alert(errors ? errors.join("\n") : "通信エラー");
      }
    });
  };
  </script>
</body>
</html>