<footer id="footer" class="page-footer">
	<div class="footer-copyright">
		<div class="container">
			<p>Copyright&copy; HUS Densan Network Team.</p>
		</div>
	</div>
</footer>

<script type="text/javascript" src="/js/libs/jquery.js"></script>
<script type="text/javascript" src="/js/libs/materialize.js"></script>
<script type="text/javascript" src="/js/libs/vue.js"></script>
<script type="text/javascript" src="/js/libs/moment.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
