<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-stickyfooter.css">
<link rel="stylesheet" type="text/css" href="/css/flat-ui.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>{{title}} | team.densan.info</title>
