<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  <div id="wrap">
    {{>menu}}
    
    <div class="container">
      {{>error}}
      
      <h1>team.densan.info - Control Panel</h1>
      <p>コントロールパネル</p>
      <hr>
      <div>
        <h2>Manage Section</h2>
        <ul>
          <li>Role, Permission</li>
          <li>User</li>
        </ul>
      </div>
    </div>
  </div>
  
  {{>footer}}
  <script type="text/javascript" src="/js/libs/jquery.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
</body>
</html>