<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  <div id="wrap">
    {{>menu}}
    
    <div class="container">
      {{>error}}
      
      <h1>Densan Members - {{team}}</h1>
      <p>部員数 {{members.length}} 人</p>
      <hr>
      {{#members}}
      <div>
        {{#id}}
        <p>id: {{id}}</p>
        {{/id}}
        {{#name}}
        <p>name: {{last}} {{first}}</p>
        {{/name}}
        {{#email}}
        <p>email: {{email}}</p>
        {{/email}}
        <p>team:</p>
        <ul>
        {{#team}}
          <li>{{.}}</li>
        {{/team}}
        </ul>
        <hr>
      </div>
      {{/members}}
    </div>
  </div>
  
  {{>footer}}
  <script type="text/javascript" src="/js/libs/jquery.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
</body>
</html>