<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  <div id="wrap">
    {{>menu}}
    
    <div class="container">
      {{>error}}
      
      <h1>Densan Members - {{team}}</h1>
      <p>部員数 {{members.length}} 人</p>
      <hr>
      {{#members}}
      <div>
        {{#id}}
        <p>id: {{id}}</p>
        {{/id}}
        {{#name}}
        <p>name: {{last}} {{first}}</p>
        {{/name}}
        {{#email}}
        <p>email: {{email}}</p>
        {{/email}}
        <p>team:</p>
        <ul>
        {{#team}}
          <li>{{.}}</li>
        {{/team}}
        </ul>
        {{^maintenance}}
        <p>{{role}}</p>
        {{/maintenance}}
        {{#maintenance}}
        <p>
          <select class="role-picker" name="team" class="form-item select-block">
            {{#roles}}
            <option value="{{.}}" {{#selected}}selected{{/selected}}>{{.}}</option>
            {{/roles}}
          </select>
        </p>
        {{/maintenance}}
        <hr>
      </div>
      {{/members}}
    </div>
  </div>
  
  {{>footer}}
  <script type="text/javascript" src="/js/libs/jquery.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap-select.js"></script>
  <script type="text/javascript" src="/js/ajax.js"></script>
  <script>
    $(function () {
      var $rolePicker = $(".role-picker");
      $rolePicker.selectpicker({style: "btn-primary", menuStyle: "dropdown-inverse"});
    });
  </script>
</body>
</html>