<!DOCTYPE html>
<html>
<head>
  {{>head}}
</head>
<body>
  <div id="wrap">
    <div class="container">
      {{>error}}
      
      <header class="text-center main">
        <h1>team.densan.info</h1>
        <p class="lead">- 新規登録 -</p>
      </header>
      
      <section class="row-fluid">
        <div class="span6 offset3">
          <p class="text-info text-center">
            このアカウントは現在登録されていません。<br>
            あなたが電算部員の場合は下記のフォームから登録してください。
          </p>
          {{#profile}}
          <form id="sign_up" class="form-horizontal">
            <div class="control-group">
              <span class="control-label" for="id_number">Student ID</span>
              <div class="controls">
                <div class="value-item">{{id}}</div>
              </div>
            </div>
            <div class="control-group">
              <span class="control-label">Name</span>
              <div class="controls">
                <div class="value-item">{{#name}}{{last}} {{first}}{{/name}}</div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="team">Team</label>
              <div class="controls">
                <div style="width:206px" data-toggle="tooltip" data-placement="top" title="所属しているチームを選択してください。">
                  <select name="team0" class="form-item">
                    {{#teams}}
                    <option value="{{.}}">{{.}}</option>
                    {{/teams}}
                  </select>
                  <button id="add-team" class="btn btn-large btn-block fui-plus-16" type="button">&nbsp;Add Team</button>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="email">Email</label>
              <div class="controls">
                <input id="email" name="email" class="form-item" type="email" placeholder="required" required data-toggle="tooltip" data-placement="top" title="学校のメールアドレスとは別に連絡の取れるメールアドレスを登録してください。">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <input type="hidden" name="_csrf" value="{{csrf_token}}">
                <button class="btn btn-large btn-block btn-primary form-item" type="submit">送信</button>
              </div>
            </div>
          </form>
          {{/profile}}
        </div>
      </section>
    </div>
  </div>
  
  {{>footer}}
  <script type="text/javascript" src="/js/libs/jquery.js"></script>
  <script type="text/javascript" src="/js/libs/bootstrap.js"></script>
  <script type="text/javascript" src="/js/libs/jquery.dropkick-1.0.0.js"></script>
  <script type="text/javascript">
    $(function () {
      $("select").dropkick();
      $("[data-toggle=tooltip]").tooltip({trigger: "hover"});
      $("#sign_up").submit(function (e) {
        e.preventDefault();
        $ajax = $.ajax({
          type: "post",
          url: "/new",
          dataType: "json",
          data: $(this).serialize()
        });
        $ajax.done(function (res) {
          if (res.message === "OK")
            return location.reload(true);
          
          alert("通信エラー");
        });
        $ajax.fail(function (xhr) {
          var res = {};
          try {
            res = JSON.parse(xhr.responseText);
          } catch (e) {
            // JSON parse error
            console.log(e);
          } finally {
            if (res.message !== "Error")
              return alert("通信エラー");
            
            alert(res.errors.join("\n"));
          }
        });
      });
      $("#add-team").click(function () {
        var $select = $(this).parent().find("select:last"),
            $new = $select.clone(),
            index = Number($new.attr("name").slice(4)) + 1;
        
        $new.attr("name", "team" + index);
        $select.after($new);
        $new.dropkick();
      });
    });
  </script>
</body>
</html>