<!DOCTYPE html>
<html lang="ja">
<head>
	{{>head}}
</head>
<body>
	<main>
		<div class="container">
			{{>error}}

			<heade class="center-align">
				<h2>team.densan.info</h2>
				<p>- 新規登録 -</p>
			</header>

			<section class="row">
				<div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
					<p class="center-align">
						このアカウントは現在登録されていません。<br>
						あなたが電算部員の場合は下記のフォームから登録してください。
					</p>
					{{#profile}}
					<form action="/new?_csrf={{csrf_token}}" method="post" v-on="submit:save">
						<div class="input-field">
							<input type="text" value="{{id}}" disabled>
							<label>Student ID</label>
						</div>
						<div class="input-field">
							<input type="text" value="{{#name}}{{last}} {{first}}{{/name}}" disabled>
							<label>Name</label>
						</div>
						<div class="row">
						{{#teams}}
							<p class="col m3 s4">
								<input id="form-team-{{.}}" name="team" type="checkbox" value="{{.}}" v-model="team_{{.}}" checked>
								<label for="form-team-{{.}}">{{.}}</label>
							</p>
						{{/teams}}
						</div>
						<div class="input-field">
							<input id="form-email" class="validate" class="tooltipped" name="email" type="email" required v-model="email" data-position="top" data-tooltip="学校のメールアドレスとは別に連絡の取れるメールアドレスを登録してください。">
							<label for="form-email">Email</label>
						</div>
						<div>
							<button class="btn btn-large waves-effect waves-light" type="submit">
								送信
								<i class="mdi-content-send right"></i>
							</button>
							<a href="/logout" class="btn btn-large waves-effect waves-light red accent-1">中断</a>
						</div>
					</form>
					{{/profile}}
				</div>
			</section>
		</div>
	</main>

	{{>footer}}
	<script type="text/javascript" src="/js/new.js"></script>
</body>
</html>
