<!DOCTYPE html>
<html lang="ja">
<head>
	{{>head}}
</head>
<body>
	<main>
		{{>menu}}

		<div class="container">
			{{>error}}

			<h1>Profile Settings</h1>
			<p>プロフィール情報の設定</p>
			<hr>
			{{#profile}}
			<form action="/profile" method="post" v-on="submit:save">
				<div class="input-field">
					<input type="text" value="{{id}}" disabled>
					<label>ID</label>
				</div>
				<div class="input-field">
					<input type="text" value="{{#name}}{{last}} {{first}}{{/name}}" disabled>
					<label>Name</label>
				</div>
				<div class="input-field">
					<input id="form-email" class="validate" type="email" value="{{email}}" required v-model="email">
					<label for="form-email">Email</label>
				</div>
				<div class="input-field">
					<input type="text" value="{{role.name}}" disabled>
					<label>Role</label>
				</div>
				<div class="row">
					<input type="hidden" value="{{team}}" v-model="team" disabled>
				{{#teams}}
					<p class="col m3 s4">
						<input id="form-team-{{.}}" name="team" type="checkbox" value="{{.}}" v-model="team_{{.}}" checked>
						<label for="form-team-{{.}}">{{.}}</label>
					</p>
				{{/teams}}
				</div>
				<button type="submit" class="btn waves-effect waves-light right">Save</button>
			</form>
			{{/profile}}
		</div>
	</main>

	{{>footer}}
	<script type="text/javascript" src="/js/profile.js"></script>
</body>
</html>
