@charset "utf-8";

header.main {
  margin-bottom: 40px;
}

.control-group .controls .value-item {
  padding: 5px 10px;
}

.controls .form-item {
  width: 206px;
}
.controls input.form-item {
  width: 192px;
}

dl.list {
  position: relative;
  margin: 10px 0 20px 0;
}
dl.list dt {
  width: 90px;
  height: 25px;
}
dl.list dd {
  position: relative;
  margin: -25px 0 0 100px;
}

.team-picker {
  position: relative;
  width: 200px;
}
.team-picker > * {
  width: 140px;
}

a[data-toggle="tab"] {
  text-decoration: none;
}

.tabbable > ul > li > a {
  padding-right: 25px;
}
.tabbable > ul > li > .close {
  position: relative;
  margin-top: -32px;
  right: 5px;
  height: ;
  display: none;
}
.tabbable > ul > li:hover > .close {
  display: block;
}
